<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    
    <select id="loginEscritorio" resultType="modelo.pojo.Usuario" parameterType="map">
        SELECT idUsuario, nombre, apellidoPaterno, apellidoMaterno, 
        curp, correo, userName, contrasenia, idEmpresa, idRollUsuario 
        FROM usuario 
        WHERE userName = #{userName} AND contrasenia=#{contrasenia}
    </select>
    <select id="loginMobile" resultType="modelo.pojo.Cliente" parameterType="map">
        SELECT * FROM cliente 
        WHERE correo = #{correo} AND contrasenia =#{contrasenia}
    </select>
    

</mapper>
