<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cupon">
    <select id="buscarTodosLosCupones" resultType="modelo.pojo.Promocion">
        SELECT  p.idPromocion, p.nombre, 
        p.descripcion, p.fechaInicio, p.fechaFin, p.restriccion, 
        p.tipoPromocion, p.porcentajeDescuento, p.precioRebajado, 
        p.noCuponesMaximo, p.codigo, p.estatus, c.categoria 
        FROM promocion p 
        INNER JOIN categoria c ON c.idCategoria = p.idCategoria 
        WHERE p.estatus = 'activo'
    </select>
    
    <select id="buscarCuponesComercial" resultType="modelo.pojo.Promocion" parameterType="int">
        SELECT Distinct p.idPromocion, p.nombre, 
        p.descripcion, p.fechaInicio, p.fechaFin, p.restriccion, 
        p.tipoPromocion, p.porcentajeDescuento, p.precioRebajado, 
        p.noCuponesMaximo, p.codigo, p.estatus, c.categoria 
        FROM promocion p 
        INNER JOIN categoria c ON c.idCategoria = p.idCategoria 
        INNER JOIN promocionSucursal ps ON p.idPromocion = ps.idPromocion 
        INNER JOIN sucursal s ON s.idSucursal = ps.idSucursal 
        WHERE s.idEmpresa = #{idEmpresa} AND p.estatus = 'activo' 
    </select>
    
    <update id="canjearCupon" parameterType="String">
        UPDATE promocion 
        SET noCuponesMaximo = noCuponesMaximo -1 
        WHERE codigo = #{codigo} AND promocion.estatus = 'activo';
    </update>
    
    <update id="canjearCuponComercial" parameterType="map">
        UPDATE promocion p
        SET p.noCuponesMaximo = p.noCuponesMaximo - 1
        WHERE p.codigo = #{codigo} AND p.estatus = 'activo' 
        AND p.codigo IN ( 
        SELECT p2.codigo 
        FROM ( 
        SELECT p3.codigo 
        FROM promocion p3 
        INNER JOIN promocionSucursal ps ON p3.idPromocion = ps.idPromocion 
        INNER JOIN sucursal s ON s.idSucursal = ps.idSucursal 
        WHERE s.idEmpresa = #{idEmpresa} 
        ) p2 
        );
    </update>
</mapper>