<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promocion">
    <insert id="registrar" parameterType="modelo.pojo.Promocion" useGeneratedKeys="true" keyProperty="idPromocion">
        INSERT INTO promocion (
        idCategoria, nombre, descripcion, fechaInicio, fechaFin, 
        restriccion, tipoPromocion, porcentajeDescuento, precioRebajado, noCuponesMaximo, codigo) 
        VALUES (
        #{idCategoria}, #{nombre}, #{descripcion}, #{fechaInicio}, #{fechaFin}, 
        #{restriccion}, #{tipoPromocion}, #{porcentajeDescuento}, #{precioRebajado}, #{noCuponesMaximo}, #{codigo});
    </insert>
    <update id="editar" parameterType="modelo.pojo.Promocion" >
        UPDATE promocion SET 
        idCategoria = #{idCategoria}, nombre = #{nombre}, descripcion = #{descripcion}, 
        fechaInicio = #{fechaInicio}, fechaFin = #{fechaFin}, restriccion = #{restriccion}, 
        tipoPromocion = #{tipoPromocion}, porcentajeDescuento = #{porcentajeDescuento}, 
        precioRebajado = #{precioRebajado}, noCuponesMaximo = #{noCuponesMaximo}, 
        codigo = #{codigo}, estatus = #{estatus} 
        WHERE idPromocion = #{idPromocion};
    </update>
    <delete id="eliminar" parameterType="int">
        DELETE FROM promocion WHERE idPromocion = #{idPromocion};
    </delete>
    <update id="subirFotografia" parameterType="modelo.pojo.Promocion" >
        UPDATE promocion SET fotografia = #{fotografia} WHERE idPromocion = #{idPromocion}
    </update>
    <select id="obtenerFotografia" resultType="modelo.pojo.Promocion" >
        SELECT TO_BASE64(fotografia) AS 'fotografiaBase64' FROM promocion WHERE idPromocion = #{idPromocion};
    </select>
    
    <select id="buscarCodigo" parameterType="string" resultType="modelo.pojo.Promocion">
        SELECT idPromocion FROM promocion WHERE codigo = #{codigo};
    </select>
    <select id="buscarPromociones" resultType="modelo.pojo.Promocion">
        SELECT p.idPromocion, p.idCategoria, p.nombre, 
        p.descripcion, p.fechaInicio, p.fechaFin, p.restriccion, 
        p.tipoPromocion, p.porcentajeDescuento, p.precioRebajado, 
        p.noCuponesMaximo, p.codigo, p.estatus, c.categoria 
        FROM promocion p 
        LEFT JOIN categoria c ON c.idCategoria = p.idCategoria;
    </select>
    <select id="buscarCategorias" resultType="modelo.pojo.Categoria">
        SELECT * FROM categoria;
    </select>
    <insert id="registrarPromocionSucursal" parameterType="map">
        INSERT INTO promocionSucursal (idPromocion, idSucursal)
        VALUES (#{idPromocion}, #{idSucursal});
    </insert>
    <delete id="eliminarPromocionSucursal" parameterType="int">
        DELETE FROM promocionSucursal WHERE idPromocion = #{idPromocion};
    </delete>
    <select id="buscarPromocionesEmpresa" resultType="modelo.pojo.Promocion" parameterType="int" >
        SELECT DISTINCT p.idPromocion, p.idCategoria, p.nombre, 
        p.descripcion, p.fechaInicio, p.fechaFin, p.restriccion, 
        p.tipoPromocion, p.porcentajeDescuento, p.precioRebajado, 
        p.noCuponesMaximo, p.codigo, p.estatus, c.categoria 
        FROM promocion p 
        INNER JOIN categoria c ON c.idCategoria = p.idCategoria 
        INNER JOIN promocionSucursal ps ON p.idPromocion = ps.idPromocion 
        INNER JOIN sucursal s ON s.idSucursal = ps.idSucursal 
        WHERE s.idEmpresa = #{idEmpresa};
    </select>
    <select id="buscarSucursalesEmpresa" resultType="modelo.pojo.Sucursal" parameterType="int" >
        SELECT idSucursal, nombre FROM sucursal WHERE idEmpresa = #{idEmpresa};
    </select>
    
    <select id="buscarPromocionSucursales" resultType="modelo.pojo.PromocionSucursal" parameterType="int" >
        SELECT idSucursal FROM promocionSucursal WHERE idPromocion = #{idPromocion};
    </select>
    <select id="buscarSucursales" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT s.idSucursal, s.idEmpresa, s.nombre, s.telefono, 
        CONCAT('Ciudad: ',u.ciudad,' calle: ', u.calle,' NO.', u.numero) AS direccion, 
        u.codigoPostal 
        FROM sucursal s 
        INNER JOIN ubicacion u 
        ON s.idUbicacion = u.idUbicacion 
        WHERE idSucursal = #{idSucursal};
    </select>
    
    <select id="buscarPromocionesPorCategoria" parameterType="int" resultType="modelo.pojo.Promocion">
        SELECT DISTINCT p.idPromocion, p.nombre, p.tipoPromocion, p.porcentajeDescuento, P.precioRebajado, p.noCuponesMaximo, p.fechaFin, e.nombre AS nombreEmpresa
        FROM promocion p 
        INNER JOIN promocionSucursal ps 
        ON p.idPromocion = ps.idPromocion 
        INNER JOIN sucursal s 
        ON ps.idSucursal = s.idSucursal 
        INNER JOIN empresa e 
        ON s.idEmpresa = e.idEmpresa 
        INNER JOIN categoria c 
        ON p.idCategoria = c.idCategoria 
        WHERE c.idCategoria = #{idCategoria} AND p.noCuponesMaximo > 0 AND p.estatus = 'activo';
    </select>
    
    <select id="buscarPromocion" parameterType="int" resultType="modelo.pojo.Promocion">
        SELECT nombre, descripcion, fechaInicio, fechaFin, restriccion, 
        tipoPromocion, porcentajeDescuento, precioRebajado, noCuponesMaximo, codigo 
        FROM promocion 
        WHERE idPromocion = #{idPromocion};
    </select>
    
    <select id="buscarPromocionesPorIdEmpresa" resultType="modelo.pojo.Promocion" parameterType="int" >
        SELECT DISTINCT p.idPromocion, p.nombre, p.tipoPromocion, p.porcentajeDescuento, P.precioRebajado, p.noCuponesMaximo, p.fechaFin, e.nombre AS nombreEmpresa
        FROM promocion p 
        INNER JOIN categoria c ON c.idCategoria = p.idCategoria 
        INNER JOIN promocionSucursal ps ON p.idPromocion = ps.idPromocion 
        INNER JOIN sucursal s ON s.idSucursal = ps.idSucursal 
        INNER JOIN empresa e ON e.idEmpresa = s.idEmpresa
        WHERE e.idEmpresa = #{idEmpresa};
    </select>
    
</mapper>