<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    <insert id="registrar" parameterType="modelo.pojo.Sucursal" useGeneratedKeys="true" keyProperty="idSucursal" >
        INSERT INTO sucursal (idEmpresa, nombre, telefono, latitud, longitud, colonia, nombreEncargado) VALUES 
        (#{idEmpresa}, #{nombre}, #{telefono}, #{latitud}, #{longitud}, #{colonia}, #{nombreEncargado})
    </insert>
    <update id="actualizar" parameterType="modelo.pojo.Sucursal">
        UPDATE sucursal SET idEmpresa = #{idEmpresa}, nombre = #{nombre}, telefono = #{telefono}, latitud = #{latitud}, 
        longitud = #{longitud}, colonia = #{colonia}, nombreEncargado = #{nombreEncargado} WHERE idSucursal = #{idSucursal}
    </update>
    <delete id="eliminar" parameterType="int">
        DELETE FROM sucursal WHERE idSucursal = #{idSucursal};
    </delete>
    <select id="buscarSucursales" resultType="modelo.pojo.Sucursal">
        SELECT s.*, 
        CONCAT('calle ', u.calle,' NO.', u.numero) AS direccion, 
        u.codigoPostal, u.calle, u.numero 
        FROM sucursal s 
        INNER JOIN ubicacion u 
        ON s.idUbicacion = u.idUbicacion;
    </select>
    <select id="buscarPromocionSucursal" resultType="modelo.pojo.PromocionSucursal">
        SELECT * FROM promocionSucursal;
    </select>
    <select id="buscarSucursalesUsuario" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT s.*, 
        CONCAT('calle ', ub.calle,' NO.', ub.numero) AS direccion, 
        ub.codigoPostal, ub.calle, ub.numero 
        FROM sucursal s 
        INNER JOIN usuario us 
        ON s.idEmpresa = us.idEmpresa 
        INNER JOIN ubicacion ub 
        ON s.idUbicacion = ub.idUbicacion 
        WHERE us.idUsuario = #{idUsuario};
    </select>
    
</mapper>