<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    <insert id="registrar" parameterType="modelo.pojo.Sucursal">
        INSERT INTO sucursal (idEmpresa, nombre, telefono, latitud, longitud, colonia, nombreEncargado) VALUES 
        (#{idEmpresa}, #{nombre}, #{telefono}, #{latitud}, #{longitud}, #{colonia}, #{nombreEncargado})
    </insert>
    <update id="actualizar" parameterType="modelo.pojo.Sucursal">
        UPDATE sucursal SET idEmpresa = #{idEmpresa}, nombre = #{nombre}, telefono = #{telefono}, latitud = #{latitud}, 
        longitud = #{longitud}, colonia = #{colonia}, nombreEncargado = #{nombreEncargado} WHERE idSucursal = #{idSucursal}
    </update>
    <delete id="eliminar" parameterType="int">
        DELETE FROM sucursal WHERE idSucursal = #{idSucursal};
    </delete>
    <select id="buscarPorNombre" parameterType="String" resultType="modelo.pojo.Sucursal">
        SELECT s.*,
        CONCAT('Ciudad: ',u.ciudad,' calle: ', u.calle,' NO.', u.numero) AS direccion, u.codigoPostal 
        FROM sucursal s 
        INNER JOIN ubicacion u 
        ON s.idUbicacion = u.idUbicacion 
        WHERE s.nombre = #{nombre}
    </select>
    <select id="buscarPorDireccion" parameterType="modelo.pojo.Ubicacion" resultType="modelo.pojo.Sucursal">
        SELECT s.*,
        CONCAT('Ciudad: ',u.ciudad,' calle: ', u.calle,' NO.', u.numero) AS direccion, u.codigoPostal 
        FROM sucursal s 
        INNER JOIN ubicacion u 
        ON s.idUbicacion = u.idUbicacion 
        WHERE u.calle = #{calle} AND u.numero= #{numero}
    </select>
    <select id="buscarSucursales" resultType="modelo.pojo.Sucursal">
        SELECT s.*,
        CONCAT('Ciudad: ',u.ciudad,' calle: ', u.calle,' NO.', u.numero) AS direccion, u.codigoPostal 
        FROM sucursal s 
        INNER JOIN ubicacion u 
        ON s.idUbicacion = u.idUbicacion;
    </select>
    
</mapper>