<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ubicacion">
    <insert id="registrar" parameterType="modelo.pojo.Ubicacion" useGeneratedKeys="true" keyProperty="idUbicacion">
        INSERT INTO ubicacion (calle, numero, codigoPostal, ciudad) VALUES 
        (#{calle}, #{numero}, #{codigoPostal}, #{ciudad})
    </insert>
    <update id="editar" parameterType="modelo.pojo.Ubicacion">
        UPDATE ubicacion SET calle = #{calle}, numero = #{numero}, codigoPostal = #{codigoPostal}, ciudad = #{ciudad} 
        WHERE idUbicacion = #{idUbicacion};
    </update>
    <delete id="eliminar" parameterType="int">
        DELETE FROM ubicacion WHERE idUbicacion = #{idUbicacion};
    </delete>
    
    <update id="registrarUbicacionAEmpresa" parameterType="modelo.pojo.Empresa" >
        UPDATE empresa SET idUbicacion = #{idUbicacion} WHERE idEmpresa = #{idEmpresa};
    </update>
</mapper>
