<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">
    
    <insert id="registrar" parameterType="modelo.pojo.Usuario">
        INSERT INTO usuario (idEmpresa, idRollUsuario, nombre, apellidoPaterno, apellidoMaterno, curp, correo, userName, contrasenia) VALUES 
        (#{idEmpresa}, #{idRollUsuario}, #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{correo}, #{userName}, #{contrasenia}); 
    </insert>

    <update id="editar" parameterType="modelo.pojo.Usuario">
        UPDATE usuario SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, 
        apellidoMaterno = #{apellidoMaterno}, curp = #{curp}, correo = #{correo}, 
        userName = #{userName}, contrasenia = #{contrasenia} 
        WHERE idUsuario = #{idUsuario};
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM usuario WHERE idUsuario = #{idUsuario}
    </delete>
    
    <select id="busquedaPorNombre" parameterType="String" resultType="modelo.pojo.Usuario">
        SELECT * FROM usuario WHERE nombre = #{nombre}
    </select>
    
    <select id="busquedaPorUserName" parameterType="String" resultType="modelo.pojo.Usuario">
        SELECT * FROM usuario WHERE userName = #{userName}
    </select>
    
    <select id="busquedaRol" parameterType="int" resultType="modelo.pojo.Usuario">
        SELECT u.* FROM usuario u
        INNER JOIN rollUsuario ru
        ON u.idRollUsuario = ru.idRollUsuario
        WHERE u.idRollUsuario = #{idRollUsuario};
    </select>
    
    <select id="buscarUsuarios" resultType="modelo.pojo.Usuario" parameterType="int" >
        SELECT 
        u.*, 
        r.roll AS nombreRol 
        FROM usuario u 
        LEFT JOIN rollUsuario r ON u.idRollUsuario = r.idRollUsuario 
        WHERE idUsuario != #{idUsuario};
    </select>
    
    <select id="buscarRolles" resultType="modelo.pojo.Roll">
        SELECT * FROM rollusuario;
    </select>
    
</mapper>
